{% extends "base.html" %}
{% block titulo%} codigos de codigo {% endblock %}
{% block barraContenido %}

Codigos catalogados
{% endblock %}

{% block contenido %}






{% comment %}
		{% if codigos %}
		<table>
		<tr><th>Nombre</th><th>Lenguaje</th><th colspan="4">Accion</th><tr>
			{% for codigo in codigos %}
			<tr>
				<td>{{ codigo.titulo }}</td>
				<td>{{codigo.lenguaje}}</td>
				<td>{% if codigo.archivo %}
					<span class=" icon-attachment"></span>
				{% else %}
					<span class="  icon-attachment"></span>
				{% endif %}</td>
				<td><span class=" icon-file-2"></span></td>
				<td><span class=" icon-remove"></span></td>
			</tr>				

			{% endfor %}
		</table>
		{% endif%}
{% endcomment %}

{% if codigos %}
	{% for codigo in codigos %}
		<article class="codigos_codigo">
			<div>
				<span class="tituloCodigo">{{ codigo.titulo }} </span>
				<span class=" icon-file-2"></span>
				<span >F</span>

			{% if codigo.archivo %}
				<a href="{{MEDIA_URL}}/{{codigo.archivo}}"><span class=" icon-attachment"></span></a>
			{% else %}
				<span class="  icon-attachment"></span>
			{% endif %}
			
			<span class="lenguajeCodigo" >Python</span></td>
			<span >SO</span></td>
			</div>
			<div><p>{{ codigo.descripcion }} ljdslkj lasdjlkfsjdakljaksld jfl jaldjf lasjdlkf jlkasjl
			 afd kaldsjflk jasdfasdklf jasd f
			 ad asdk lfjaskdlfjlasdlfasdf</p>
			</div>
			
		</article>
	{% endfor %}

		{% for codigo in codigos %}
		<article class="codigos_codigo">
			<div>
				<span>{{ codigo.titulo }} </span>
				<span class=" icon-file-2"></span>
				<span >F</span>

			</div>
			<div><codigo>{{ codigo.descripcion }} </codigo></div>
			<div>
			{% if codigo.archivo %}
				<a href="{{MEDIA_URL}}/{{codigo.archivo}}"><span class=" icon-attachment"></span></a>
			{% else %}
				<span class="  icon-attachment"></span>
			{% endif %}
			
			<span >lenguaje</span></td>
			<span >SO</span></td>
			</div>
		</article>
	{% endfor %}

		{% for codigo in codigos %}
		<article class="codigos_codigo">
			<div>
				<span>{{ codigo.titulo }} </span>
				<span class=" icon-file-2"></span>
				<span >F</span>

			</div>
			<div><codigo>{{ codigo.descripcion }} </codigo></div>
			<div>
			{% if codigo.archivo %}
				<a href="{{MEDIA_URL}}/{{codigo.archivo}}"><span class=" icon-attachment"></span></a>
			{% else %}
				<span class="  icon-attachment"></span>
			{% endif %}
			
			<span >lenguaje</span></td>
			<span >SO</span></td>
			</div>
		</article>
	{% endfor %}
	

{% endif%}

<br/>
{% if codigos %}
		<a href="/codigos/1"> Primero </a>
	{% if codigos.has_previous %}
		<a href="/codigos/{{codigos.previous_page_number}}/"> anterior </a>
	{% else %}
		<a href="#">anterior </a>
	{%endif%}
	{% if codigos.has_next %}
		<a href="/codigos/{{codigos.next_page_number}}/">siguiente </a>
	{% else %}
		<a href="#">siguiente </a>
	{%endif%}

<a href="/codigos/{{codigos.paginator.num_pages}}">Ultimo </a>


<h4>Pagina {{ codigos.number }} de {{codigos.paginator.num_pages}}</h4>

{% endif%}



{% endblock %}
