{% extends "base.html" %}
{% block titulo%} codigos de codigo {% endblock %}
{% block barraContenido %}

Codigos catalogados
{% endblock %}

{% block contenido %}

{% if codigo %}

		<article class="codigos_codigo">
			
			<span class="tituloCodigo">{{ codigo.titulo }} </span>
			<div>
				<span class=" icon-file-2"></span>
				<span >F</span>
				{% if codigo.archivo %}
					<a href="{{MEDIA_URL}}/{{codigo.archivo}}"><span class=" icon-attachment"></span></a>
				{% else %}
					<span class="  icon-attachment"></span>
				{% endif %}
						
				<span class="lenguajeCodigo" >Python</span>
				<span >SO</span></td>					
			</div>			
			

			<p>{{ codigo.descripcion }} </p>
			<p><textarea>{{ codigo.codigo }}</textarea> </p>
			
			
		</article>



	

{% endif%}

{% endblock %}
