@media screen and (min-width:768px)
	#contenido
		//border-radius(10px)
		//border 2px solid gris_60
		width 55%
		margin 1em 2% 1em 3%
		//background-color gris_10

		article
			border 1px solid gris_80
			width 30%

		.fragmentos_codigo
			width 30%

footer
	div
		width 30%

