article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
html,button,input,select,textarea{font-family:sans-serif}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.67em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:none}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
.Box2D_logo,.box2d,.django-icon-256,.node_logo-01,.html5,.python-logo,.pygame_logo,.logo,.prygame,.django-logo,.python_logo{background:url("../img/sprites.png") no-repeat}
.Box2D_logo{background-position:-994px 0;width:86px;height:76px}
.box2d{background-position:-585px -270px;width:300px;height:76px}
.django-icon-256{background-position:-595px -2px;width:256px;height:256px}
.node_logo-01{background-position:-28px -180px;width:500px;height:200px}
.html5{background-position:-636px -409px;width:70px;height:70px}
.python-logo{background-position:-21px -417px;width:601px;height:203px}
.pygame_logo{background-position:-873px -113px;width:150px;height:59px}
.logo{background-position:-856px -5px;width:55px;height:55px}
.prygame{background-position:0 0;width:584px;height:164px}
.django-logo{background-position:-908px -258px;width:150px;height:84px}
.python_logo{background-position:-791px -358px;width:280px;height:280px}
@font-face{font-family:'iconos';src:url("../fonts/iconfonts/iconos.eot");src:url("../fonts/iconfonts/iconos.eot?#iefix") format('embedded-opentype'),url("../fonts/iconfonts/iconos.woff") format('woff'),url("../fonts/iconfonts/iconos.ttf") format('truetype'),url("../fonts/iconfonts/iconos.svg#iconos") format('svg');font-weight:normal;font-style:normal}
[data-icon]:before{font-family:'iconos';content:attr(data-icon);speak:none;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.icon-home,.icon-images,.icon-image,.icon-play,.icon-file,.icon-file-2,.icon-profile,.icon-copy,.icon-spinner,.icon-undo,.icon-redo,.icon-forward,.icon-reply,.icon-expand,.icon-contract,.icon-busy,.icon-spinner-2,.icon-remove,.icon-remove-2,.icon-cog,.icon-thumbs-up,.icon-thumbs-up-2,.icon-star,.icon-star-2,.icon-minus,.icon-plus,.icon-enter,.icon-cancel-circle,.icon-checkmark-circle,.icon-twitter,.icon-twitter-2,.icon-google-plus,.icon-google,.icon-google-drive,.icon-facebook,.icon-facebook-2,.icon-windows,.icon-tux,.icon-html5,.icon-move-alt2,.icon-check-alt,.icon-x-altx-alt,.icon-x,.icon-checkmark,.icon-arrow-down-alt1,.icon-arrow-up-alt1,.icon-arrow-down,.icon-arrow-up,.icon-arrow-left,.icon-arrow-right,.icon-arrow-right-alt1,.icon-arrow-left-alt1,.icon-book,.icon-books,.icon-folder-open,.icon-stack,.icon-folder,.icon-box-add,.icon-bug,.icon-pie,.icon-stats,.icon-menu,.icon-list,.icon-numbered-list,.icon-menu-2,.icon-cloud,.icon-cloud-download,.icon-download,.icon-attachment,.icon-bookmark,.icon-bookmarks,.icon-table,.icon-table-2,.icon-paragraph-justify,.icon-indent-increase,.icon-console,.icon-github,.icon-apple,.icon-file-powerpoint,.icon-file-xml,.icon-file-css,.icon-file-pdf,.icon-libreoffice,.icon-grid,.icon-code,.icon-console-2,.icon-bookmark-2{font-family:'iconos';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.icon-home:before{content:"\e001"}
.icon-images:before{content:"\e003"}
.icon-image:before{content:"\e004"}
.icon-play:before{content:"\e005"}
.icon-file:before{content:"\e006"}
.icon-file-2:before{content:"\e007"}
.icon-profile:before{content:"\e008"}
.icon-copy:before{content:"\e009"}
.icon-spinner:before{content:"\e00a"}
.icon-undo:before{content:"\e00b"}
.icon-redo:before{content:"\e00c"}
.icon-forward:before{content:"\e00d"}
.icon-reply:before{content:"\e00e"}
.icon-expand:before{content:"\e00f"}
.icon-contract:before{content:"\e010"}
.icon-busy:before{content:"\e011"}
.icon-spinner-2:before{content:"\e012"}
.icon-remove:before{content:"\e015"}
.icon-remove-2:before{content:"\e016"}
.icon-cog:before{content:"\e017"}
.icon-thumbs-up:before{content:"\e013"}
.icon-thumbs-up-2:before{content:"\e014"}
.icon-star:before{content:"\e018"}
.icon-star-2:before{content:"\e019"}
.icon-minus:before{content:"\e01d"}
.icon-plus:before{content:"\e01e"}
.icon-enter:before{content:"\e01f"}
.icon-cancel-circle:before{content:"\e020"}
.icon-checkmark-circle:before{content:"\e021"}
.icon-twitter:before{content:"\e022"}
.icon-twitter-2:before{content:"\e023"}
.icon-google-plus:before{content:"\e024"}
.icon-google:before{content:"\e025"}
.icon-google-drive:before{content:"\e026"}
.icon-facebook:before{content:"\e027"}
.icon-facebook-2:before{content:"\e028"}
.icon-windows:before{content:"\e029"}
.icon-tux:before{content:"\e02a"}
.icon-html5:before{content:"\e02b"}
.icon-move-alt2:before{content:"\e02c"}
.icon-check-alt:before{content:"\e02d"}
.icon-x-altx-alt:before{content:"\e02e"}
.icon-x:before{content:"\e02f"}
.icon-checkmark:before{content:"\e030"}
.icon-arrow-down-alt1:before{content:"\e031"}
.icon-arrow-up-alt1:before{content:"\e032"}
.icon-arrow-down:before{content:"\e033"}
.icon-arrow-up:before{content:"\e034"}
.icon-arrow-left:before{content:"\e035"}
.icon-arrow-right:before{content:"\e036"}
.icon-arrow-right-alt1:before{content:"\e037"}
.icon-arrow-left-alt1:before{content:"\e038"}
.icon-book:before{content:"\e000"}
.icon-books:before{content:"\e002"}
.icon-folder-open:before{content:"\e01a"}
.icon-stack:before{content:"\e01b"}
.icon-folder:before{content:"\e01c"}
.icon-box-add:before{content:"\e039"}
.icon-bug:before{content:"\e03a"}
.icon-pie:before{content:"\e03b"}
.icon-stats:before{content:"\e03c"}
.icon-menu:before{content:"\e03d"}
.icon-list:before{content:"\e03e"}
.icon-numbered-list:before{content:"\e03f"}
.icon-menu-2:before{content:"\e040"}
.icon-cloud:before{content:"\e041"}
.icon-cloud-download:before{content:"\e042"}
.icon-download:before{content:"\e043"}
.icon-attachment:before{content:"\e044"}
.icon-bookmark:before{content:"\e045"}
.icon-bookmarks:before{content:"\e046"}
.icon-table:before{content:"\e047"}
.icon-table-2:before{content:"\e048"}
.icon-paragraph-justify:before{content:"\e049"}
.icon-indent-increase:before{content:"\e04a"}
.icon-console:before{content:"\e04b"}
.icon-github:before{content:"\e04c"}
.icon-apple:before{content:"\e04d"}
.icon-file-powerpoint:before{content:"\e04e"}
.icon-file-xml:before{content:"\e04f"}
.icon-file-css:before{content:"\e050"}
.icon-file-pdf:before{content:"\e051"}
.icon-libreoffice:before{content:"\e052"}
.icon-grid:before{content:"\e053"}
.icon-code:before{content:"\e054"}
.icon-console-2:before{content:"\e055"}
.icon-bookmark-2:before{content:"\e056"}
body{font-size:16px;text-align:center;background-color:#f9f9f9}
header{width:100%;}
header .heradMenu{background-color:#1d354d;height:60px;border:1px solid #1d354d;}
header .heradMenu .titulo{float:left;margin-left:2%;height:10px;margin-top:17px;color:#f9f9f9;font-size:1.1em}
header .heradMenu nav{margin-top:24px;height:38px;text-align:left;position:relative;padding-right:4%;text-align:right;text-align:bottom;}
header .heradMenu nav span{border:1px solid #181818;background-color:#1d354d;display:inline-block;height:100%;margin:0 0 0 0;vertical-align:top;padding:0 10px 0 10px;}
header .heradMenu nav span a{color:#ccc;display:block;margin:10px 0 0 0;width:100%;text-decoration:none}
header .heradMenu nav span:hover{background-color:#f0f0f0;border-top:0 solid #181818;border-left:1px solid #181818;border-right:1px solid #181818;border-bottom:0 solid #181818;}
header .heradMenu nav span:hover a{color:#3d3d3d;display:block}
header .heardTitulo{background-color:#16283a;padding:.3em;text-align:right;}
header .heardTitulo span{font-size:16px;color:#e2e2e2;width:60%;text-align:left;}
header .heardTitulo span a{color:#e2e2e2;text-decoration:none}
#contenido{background-color:#f0f0f0;width:100%;position:relative;margin:.5em 0 1em 0;}
#contenido article figure{width:100%;overflow:hidden;}
#contenido article figure img{margin:0;width:90%}
#contenido article span{display:block;color:#3f3f3f;border-bottom:1px solid #3d3d3d;height:25px;margin:6px auto 6px auto;width:90%;text-align:center}
#contenido article p{margin:2px auto 2px auto;text-align:justify;width:90%;font-size:.9em;overflow:hidden;height:auto}
#contenido article input{width:90%;margin-bottom:6px}
#contenido .codigos_codigo{background-color:#f9f9f9;border-right:1px solid #e2e2e2;border-left:.6em solid #4388cc;margin-top:5px;padding:7px;}
#contenido .codigos_codigo .listCodigoTitulo{padding:4px;height:20px;}
#contenido .codigos_codigo .listCodigoTitulo span,#contenido .codigos_codigo .listCodigoTitulo strong{vertical-align:top}
#contenido .codigos_codigo .listCodigoTitulo span{display:inline-block;vertical-align:top;width:auto;height:auto;float:right;margin:0;margin-right:7px;overflow:hidden;border:0}
#contenido .codigos_codigo .listCodigoTitulo .tituloCodigo{text-align:left;float:left;margin-bottom:.2em;width:60%;overflow:hidden;}
#contenido .codigos_codigo .listCodigoTitulo .tituloCodigo a{text-decoration:none;color:#19abff}
#contenido .codigos_codigo .listCodigoTitulo .lenguajeCodigo{width:auto}
#contenido .codigos_codigo .listCodigoContenido{text-align:left;padding:5px;border-top:2px solid #ccc;}
#contenido .codigos_codigo .listCodigoContenido p{width:100%;text-align:justify}
#contenido .fragmentos_codigo{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;width:100%;display:inline-block;vertical-align:top;margin:.5em 0 0 0;}
#contenido .fragmentos_codigo p{padding:.5em .5em .7em .5em;border-bottom:1px solid #3d3d3d}
#contenido .fragmentos_codigo span{margin-top:.5em;border:0;display:inline-block;vertical-align:top;width:25%}
#contenido table{border:1px solid #f00;width:100%;}
#contenido table td{border:1px solid #00f;padding:.3em}
#contenido table td:first-of-type{text-align:left;padding-left:1em}
#contenido fieldset{border:1px solid #3d3d3d;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:2em auto 2em auto;padding:10px;width:50%;}
#contenido fieldset input{width:90%;margin-bottom:6px}
#contenido fieldset input[type=text]{border:1px solid #e1e1e1;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;height:2em}
#contenido fieldset input[type=password]{border:1px solid #e1e1e1;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;height:2em}
#contenido fieldset .conFacebook{background-color:#3b5998;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:7px 15px 7px 7px;color:#fff;text-align:right}
#contenido fieldset .conTwitter{background-color:#2fc2ef;color:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin-top:5px;margin-bottom:7px;padding:7px 15px 7px 7px;text-align:right}
#contenido .barraConfiguracion{background-color:#4388cc;display:block;text-align:right;padding:.3em;margin-bottom:.4em;}
#contenido .barraConfiguracion span{color:#f0f0f0}
#contenido .barraConfiguracion label{float:left;color:#fff}
#contenido .navegacionNum a,#contenido .navegacionNum h4{display:inline-block}
#cuadroInteractivo{border:2px solid #5c5c5c;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;min-height:100px;margin:1em 3% 1em 0;width:33%}
#contenido,#cuadroInteractivo{display:inline-block;vertical-align:top}
footer{background-color:#3f3f3f;}
footer div{display:inline-block;vertical-align:top;width:100%;}
footer div img{width:4em}
footer div ul{list-style-type:none;padding:0;margin:0 0 0 0;}
footer div ul span{font-size:1.2em;color:#3d3d3d}
footer div ul li{border-bottom:1px solid #3d3d3d;height:1.5em;text-align:left;margin-left:.5em;}
footer div ul li a{color:#ccc;display:block;text-decoration:none}
footer div ul li a:hover{color:#5c5c5c;background-color:#3d3d3d;display:block;text-decoration:none}
footer div span{margin-top:.5em;color:#3d3d3d;font-size:1.2em;display:block;width:100%;border-bottom:1px solid #3d3d3d}
footer div p{color:#ccc;font-size:.9em;margin:1em 1em 1em 1em;margin-bottom:-1em;height:80%;overflow:hidden;text-align:justify;width:90%}
@media screen and (min-width:768px){#contenido{width:55%;position:relative;padding:1em;margin:1em 2% 1em 3%;}
}footer div{width:30%}
