gris_80 = #3F3F3F
gris_70 = #545454
gris_60 = #AAAAAA
gris_50 = #ccc
gris_40 = #D5D5D5
gris_30 = #E1E1E1
azul_10 = #6FB6F1
c_twitter = #2FC2EF
c_facebook = #3B5998

@import "normalize.min.styl"
@import "sprites.styl"
@import "icono.styl"

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments


body
	font-size 16px
	text-align center
	background-color gris_30
header
	background-color gris_80
	//border 1px solid red
	height 100px
	width 100%



	h1 
		font-size 20px
		//border 1px solid green
		width 60%


	p 

		height 20px
		//border 1px solid orange
		text-align right
		width 30%

		a 
			color gris_60
			text-decoration none
	
	h1,p 
		display inline-block
		vertical-align top
	nav 
		//border 1px solid green
		background-color gris_70
		height 45px
		text-align left
		position relative
		padding-left 4%
	
		span 
			//border 1px solid black
			display inline-block
			height 100%
			margin 0px 0px 0px 0px
			vertical-align top
			padding 0px 10px 0px 10px


		
			

			a 
				color gris_60				
				display block
				margin 10px 0px 0px 0px
				width 100%	
				text-decoration none	
		span:hover 
			background-color gris_60

			//border 1px solid black
			//display inline-block
			//height 100%
			//margin 0px 0px 0px 0px
			//vertical-align top
			//padding 0px 10px 0px 10px

			a 
				color gris_70				
				display block
				//margin 10px 0px 0px 0px
				//width 100%	
				//text-decoration none	

			

#contenido
	border-radius(10px)
	border 2px solid gris_60
	min-height 100px
	margin 1em 2% 1em 3%
	background-color gris_40
	width 55%




	article 
		border 1px solid gris_80
		border-radius(5px)
		width 30%
		display inline-block
		vertical-align top
		background-color gris_30
		//height 10em
		margin 0.6em 0.2em 0em 0.2em

		figure
			//padding 2%
			width 100%
			overflow hidden
			height 150px

			img 
				margin 0px
				width 90%
				//border 1px solid blue

		span
			//border 1px solid blue
			display block
			color gris_80
			border-bottom 1px solid gris_60
			height 25px
			margin 6px auto 6px auto
			width 90%
			text-align center

		
		p
			//border 1px solid red
			margin 2px auto 2px auto
			text-align justify
			width 90%
			font-size 0.9em
			overflow hidden
			height auto

		input 
			width 90%
			margin-bottom 6px
	

	fieldset
		border 1px solid gris_60
		border-radius(4px)
		margin 2em auto 2em auto
		padding 10px
		width 50%

		input 
			width 90%
			margin-bottom 6px

		input[type=text] 
			border 1px solid gris_30
			border-radius(5px)
			height 2em

		input[type=password] 
			border 1px solid gris_30
			border-radius(5px)
			height 2em
		.conFacebook
			background-color c_facebook
			//border 1px solid blue
			border-radius(3px)
			padding 7px 15px 7px 7px			
			color white
			text-align right


		.conTwitter
			background-color c_twitter
			color white
			//border 1px solid blue
			border-radius(3px)
			margin-top 5px
			margin-bottom 7px
			padding 7px 15px 7px 7px
			text-align right





	#tituloLogin
		background-color azul_10
		border 1px solid red
		height 4em
		width 100%

	.navegacionNum
		border 1px solid blue
		background-color white
		width 100%
		margin 0
		height 10
		
		a 
			border 1px solid blue
			display block
			text-decoration none 
			margin 0px 60px 0px 0%
			width 60px
			



		h4  
			border 1px solid red 
			width 20%

			margin 0px 0px 0px 60%
			

		a,h4
			display inline-block





#cuadroInteractivo
	border 2px solid gris_70
	border-radius(10px)
	min-height 100px
	margin 1em 3% 1em 0px
	width 33%



#contenido, #cuadroInteractivo
	display inline-block
	vertical-align top




footer
	//border 2px solid blue
	height 160px
	background-color gris_80
			
	div
		//border 1px solid red
		display inline-block
		vertical-align top
		width 30%
		height 100%



		img 
			width 4em

		ul 
			list-style-type none
			//border 1px solid red
			padding 0
			margin 0em 0em 0em 0em

			span 
				font-size 1.2em
				color gris_60

			li 
				border-bottom 1px solid gris_60
				height 1.5em
				text-align left
				margin-left 0.5em

				a
					color gris_50
					display block
					text-decoration none
				a:hover
					color gris_70
					background-color gris_60
					display block
					text-decoration none
		span 
			margin-top 0.5em
			color gris_60
			font-size 1.2em
			display block
			//border 1px solid lime
			width 100%
			border-bottom 1px solid gris_60


			

		p 
			color gris_50
			font-size 0.9em
			margin 1em 1em 1em 1em 
			margin-bottom -1em
			
			height 80%
			overflow hidden
			text-align justify
			width 90%



/*.btn2 
	display: inline-block
	*display: inline
	padding: 4px 12px
	margin-bottom: 0
	*margin-left: .3em
	font-size: 14px
	line-height: 20px
	color: #333333
	text-align: center
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
	vertical-align: middle
	cursor: pointer
	background-color: #f5f5f5
	*background-color: #e6e6e6
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6)
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6))
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6)
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6)
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6)
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

			

*/