gris_80 = #3F3F3F
gris_70 = #5c5c5c
gris_60 = #3d3d3d
gris_50 = #ccc
gris_40 = #D5D5D5
gris_30 = #E1E1E1
gris_20 = #e2e2e2
gris_10 = #f0f0f0
azul_10 = #6FB6F1
negro_10 = #181818

c_twitter = #2FC2EF
c_facebook = #3B5998


@import "normalize.min.styl"
@import "sprites.styl"
@import "icono.styl"

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments


body
	font-size 16px
	text-align center
	background-color gris_10	
	//background-color #E9EAED
header
	background-color gris_80
	//border 1px solid red
	//height 0px
	width 100%



	h1 
		font-size 20px
		color #e2e2e2
		//border 1px solid green
		width 60%
		text-align left


	p 

		height 20px
		//border 1px solid orange
		text-align right
		width 30%

		a 
			color gris_20
			text-decoration none
	
	h1,p 
		display inline-block
		vertical-align top
	nav 
		border-top 1px solid negro_10
		background-color gris_70
		height 38px
		text-align left
		position relative
		padding-left 4%
	
		span 
			//border 1px solid black
			display inline-block
			height 100%
			margin 0px 0px 0px 0px
			vertical-align top
			padding 0px 10px 0px 10px


		
			

			a 
				color gris_50				
				display block
				margin 10px 0px 0px 0px
				width 100%	
				text-decoration none	
		span:hover 
			background-color gris_60
			border-top 0px  solid negro_10 
			border-left 1px  solid negro_10 
			border-right 1px  solid negro_10 
			border-bottom 0px  solid negro_10 

			// 1px 0px 1px 
			//border-color  negro_10
			//display inline-block
			//height 100%
			//margin 0px 0px 0px 0px
			//vertical-align top
			//padding 0px 10px 0px 10px

			a 
				color gris_50				
				display block
				//margin 10px 0px 0px 0px
				//width 100%	
				//text-decoration none	

			

#contenido
	background-color gris_20
	width 100%
	//border-radius(10px)
	//border 2px solid gris_60
	//min-height 100px
	//margin 1em 2% 1em 3%
	//width 55%
	//padding 1em




	article 
		//border 1px solid gris_80
		//border-radius(5px)
		//width 30%
		//width 100%
		//display inline-block
		//vertical-align top
		//background-color #E9EAED
		//height 10em
		//margin 0.5em 0em 0em 0em

		figure
			//padding 2%
			width 100%
			overflow hidden
			//height 150px

			img 
				margin 0px
				width 90%
				//border 1px solid blue

		span
			//border 1px solid blue
			display block
			color gris_80
			border-bottom 1px solid gris_60
			height 25px
			margin 6px auto 6px auto
			width 90%
			text-align center

		
		p
			//border 1px solid red
			margin 2px auto 2px auto
			text-align justify
			width 90%
			font-size 0.9em
			overflow hidden
			height auto

		input 
			width 90%
			margin-bottom 6px

	.codigos_codigo
		border 1px solid gris_40 
		border-left 0.6em solid blue
		background-color white
		width 100%
		//margin 0px auto 0px 1em

		div 
			width 100%
			padding 0.3em
			//border 1px solid red 

			span,strong
				//display inline-block
				vertical-align top
				//border 1px solid blue

			span 
				//border 1px solid green
				display inline-block
				vertical-align top
				width 2em
				height auto
				float right
				margin 0px
				border 0px
				//padding 0.2em
				//border 0px

			.tituloCodigo
				//border 1px solid red
				text-align left
				float left
				margin-bottom 0.2em
				width 60%

			.lenguajeCodigo
				width auto
			p 
				padding-top 0.2em
				padding-bottom 0.3em
				border-top 2px solid gris_20
				width 99%
				text-align justify
				margin 0px 0.7em 0px auto

				



	.fragmentos_codigo
		border-radius(5px)
		//width 30%
		width 100%
		display inline-block
		vertical-align top
		//background-color gris_30
		//border 1px solid gris_30
		//height 10em
		margin 0.5em 0em 0em 0em

		p 
			padding 0.5em 0.5em 0.7em 0.5em
			//border 1px solid red
			border-bottom 1px solid gris_60
		span
			margin-top 0.5em
			border 0
			display inline-block
			vertical-align top
			width 25%






	table 
		border 1px solid red
		width 100%
		td 
			border 1px solid blue
			padding 0.3em
		td:first-of-type			
			text-align left
			padding-left 1em

	fieldset
		border 1px solid gris_60
		border-radius(4px)
		margin 2em auto 2em auto
		padding 10px
		width 50%

		input 
			width 90%
			margin-bottom 6px

		input[type=text] 
			border 1px solid gris_30
			border-radius(5px)
			height 2em

		input[type=password] 
			border 1px solid gris_30
			border-radius(5px)
			height 2em
		.conFacebook
			background-color c_facebook
			//border 1px solid blue
			border-radius(3px)
			padding 7px 15px 7px 7px			
			color white
			text-align right


		.conTwitter
			background-color c_twitter
			color white
			//border 1px solid blue
			border-radius(3px)
			margin-top 5px
			margin-bottom 7px
			padding 7px 15px 7px 7px
			text-align right



	.barraConfiguracion
		//border 1px solid blue
		background-color #36a9e1
		display block
		text-align right
		padding 0.3em
		margin-bottom 0.4em


		span
			color gris_10
			//margin 4px
			//border 1px solid blue
			//height 100%
			//display block

		label
			//width 100%
			//border 1px solid red
			float left
			color white

			//span,label
			//display inline-block







	#tituloLogin
		//background-color azul_10
		//border 1px solid red
		//height 4em
		//width 100% 

	.navegacionNum
		//border 1px solid blue
		//background-color white
		//width 100%
		//margin 0
		//height 10
		
		a 
			//border 1px solid blue
			//display block
			//text-decoration none 
			//margin 0px 60px 0px 0%
			//width 60px
			



		h4  
			//border 1px solid red 
			//width 20%

			//margin 0px 0px 0px 60%
			

		a,h4
			display inline-block





#cuadroInteractivo
	border 2px solid gris_70
	border-radius(10px)
	min-height 100px
	margin 1em 3% 1em 0px
	width 33%



#contenido, #cuadroInteractivo
	display inline-block
	vertical-align top




footer
	//border 2px solid blue
	//height 160px
	background-color gris_80
			
	div
		//border 1px solid red
		display inline-block
		vertical-align top
		//width 30%
		//height 100%
		width 100%



		img 
			width 4em

		ul 
			list-style-type none
			//border 1px solid red
			padding 0
			margin 0em 0em 0em 0em

			span 
				font-size 1.2em
				color gris_60

			li 
				border-bottom 1px solid gris_60
				height 1.5em
				text-align left
				margin-left 0.5em


				a
					color gris_50
					display block
					text-decoration none
				a:hover
					color gris_70
					background-color gris_60
					display block
					text-decoration none
		span 
			margin-top 0.5em
			color gris_60
			font-size 1.2em
			display block
			//border 1px solid lime
			width 100%
			border-bottom 1px solid gris_60


			

		p 
			color gris_50
			font-size 0.9em
			margin 1em 1em 1em 1em 
			margin-bottom -1em
			
			height 80%
			overflow hidden
			text-align justify
			width 90%


@import "responsive.styl"