{% extends "base.html" %}
{% block titulo%} Fragmentos de codigo {% endblock %}
{% block contenido %}


{% if fragmentos %}
	{% for fragmento in fragmentos %}
		{{ fragmento.nombre }}

		{% if fragmento.archivo %}
			con archivo
		{% else %}
			sin archivo
		{% endif %}

	{% endfor %}
{% endif%}



<br/>
{% if fragmentos %}
		<a href="/fragmentos/1"> Primero </a>
	{% if fragmentos.has_previous %}
		<a href="/fragmentos/{{fragmentos.previous_page_number}}/"> anterior </a>
	{% else %}
		<a href="#">anterior </a>
	{%endif%}
	{% if fragmentos.has_next %}
		<a href="/fragmentos/{{fragmentos.next_page_number}}/">siguiente </a>
	{% else %}
		<a href="#">siguiente </a>
	{%endif%}

<a href="/fragmentos/{{fragmentos.paginator.num_pages}}">Ultimo </a>


<h4>Pagina {{ fragmentos.number }} de {{fragmentos.paginator.num_pages}}</h4>

{% endif%}



{% endblock %}
